<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit charts | DankaguLike EN Server</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    <link rel="stylesheet" href="/css/profile_charts_edit.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
        .error-message {
            color: red;
            font-size: 0.875rem;
            margin-top: 0.25rem;
        }
    </style>
</head>

<body class="has-navbar-fixed-top">
    <%- include('templates/template_navbar.ejs') %>

        <section class="section">
            <div class="container">
                <div class="title-container">
                    <a href="/profile/charts" class="button is-primary"><i class="fas fa-arrow-left"></i> Back</a>
                    <h1 class="title">Edit Chart (ID: <%= chart.id %>)</h1>
                </div>
                <hr>
                <form id="editChartForm" action="/profile/charts/edit/<%= chart.id %>" method="POST">
                    <div class="field">
                        <label class="label">Content Type</label>
                        <div class="control">
                            <div class="select">
                                <select name="contentType" required>
                                    <option value="0" <%=chart.contentType===0 ? 'selected' : '' %>>Songs</option>
                                    <option value="1" <%=chart.contentType===1 ? 'selected' : '' %>>NoteSkins</option>
                                    <option value="2" <%=chart.contentType===2 ? 'selected' : '' %>>SoundEffects
                                    </option>
                                    <option value="3" <%=chart.contentType===3 ? 'selected' : '' %>>GlobalLua</option>
                                </select>
                            </div>
                        </div>
                        <p class="error-message" id="contentTypeError"></p>
                    </div>

                    <div class="field">
                        <label class="label">Title</label>
                        <div class="control">
                            <input class="input" type="text" name="title" placeholder="Title" value="<%= chart.title %>"
                                required>
                        </div>
                        <p class="error-message" id="titleError"></p>
                    </div>

                    <div class="field">
                        <label class="label">Publisher</label>
                        <div class="control">
                            <input class="input" type="text" name="publisher" placeholder="Publisher"
                                value="<%= chart.publisher %>" required>
                        </div>
                        <p class="error-message" id="publisherError"></p>
                    </div>

                    <div class="field">
                        <label class="label">Image URL</label>
                        <div class="control">
                            <input class="input" type="text" name="imageUrl" placeholder="Image URL"
                                value="<%= chart.imageUrl %>">
                        </div>
                        <p class="error-message" id="imageUrlError"></p>
                    </div>

                    <div class="field">
                        <label class="label">Download URL</label>
                        <div class="control">
                            <input class="input" type="text" name="downloadUrl" placeholder="Download URL"
                                value="<%= chart.downloadUrl %>">
                        </div>
                        <p class="error-message" id="downloadUrlError"></p>
                    </div>

                    <div class="field">
                        <label class="label">Date</label>
                        <div class="control">
                            <input class="input" type="date" name="date" id="dateField" placeholder="YYYY-MM-DD"
                                value="<%= formatDateLocal(chart.date) %>">
                        </div>
                        <p class="error-message" id="dateError"></p>
                    </div>

                    <div class="field">
                        <label class="label">Description</label>
                        <div class="control">
                            <textarea class="textarea" name="description" placeholder="Description"
                                required><%= chart.description %></textarea>
                        </div>
                        <p class="error-message" id="descriptionError"></p>
                    </div>

                    <div class="field">
                        <label class="label">Difficulties</label>
                        <div class="control control-diff">
                            <div class="diff-container">
                                <span class="tag diff-easy">Easy</span>
                                <input class="input" type="number" name="difficultiesEasy" placeholder="0"
                                    value="<%= chart.diff1 %>">
                            </div>
                            <div class="diff-container">
                                <span class="tag diff-normal">Normal</span>
                                <input class="input" type="number" name="difficultiesNormal" placeholder="0"
                                    value="<%= chart.diff2 %>">
                            </div>
                            <div class="diff-container">
                                <span class="tag diff-hard">Hard</span>
                                <input class="input" type="number" name="difficultiesHard" placeholder="0"
                                    value="<%= chart.diff3 %>">
                            </div>
                            <div class="diff-container">
                                <span class="tag diff-extra">Extra</span>
                                <input class="input" type="number" name="difficultiesExtra" placeholder="0"
                                    value="<%= chart.diff4 %>">
                            </div>
                            <div class="diff-container">
                                <span class="tag diff-lunatic">Lunatic</span>
                                <input class="input" type="number" name="difficultiesLunatic" placeholder="0"
                                    value="<%= chart.diff5 %>" required>
                            </div>
                        </div>
                        <p class="error-message" id="difficultiesError"></p>
                    </div>

                    <div class="field">
                        <label class="label">Has Lua</label>
                        <div class="control">
                            <label class="checkbox">
                                <input type="checkbox" name="hasLua" <%=chart.hasLua ? 'checked' : '' %>>
                                Yes
                            </label>
                        </div>
                        <p class="error-message" id="hasLuaError"></p>
                    </div>

                    <div class="field">
                        <div class="control">
                            <button type="submit" class="button is-primary">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </section>

        <script>
            document.addEventListener("DOMContentLoaded", function () {
                const dropdown = document.getElementById("userDropdown");
                const button = dropdown.querySelector(".dropdown-trigger");

                button.addEventListener("click", function (event) {
                    dropdown.classList.toggle("is-active");
                    event.stopPropagation();
                });

                document.addEventListener("click", function (event) {
                    if (!dropdown.contains(event.target)) {
                        dropdown.classList.remove("is-active");
                    }
                });

                document.getElementById('editChartForm').addEventListener('submit', function (event) {
                    event.preventDefault();

                    // Clear previous error messages
                    document.querySelectorAll('.error-message').forEach(el => el.textContent = '');

                    const formData = new FormData(event.target);
                    const data = {
                        contentType: parseInt(formData.get('contentType')),
                        title: formData.get('title'),
                        publisher: formData.get('publisher'),
                        imageUrl: formData.get('imageUrl'),
                        downloadUrl: formData.get('downloadUrl'),
                        date: formData.get('date'),
                        description: formData.get('description'),
                        songInfo: {
                            difficulties: [
                                parseInt(formData.get('difficultiesEasy')),
                                parseInt(formData.get('difficultiesNormal')),
                                parseInt(formData.get('difficultiesHard')),
                                parseInt(formData.get('difficultiesExtra')),
                                parseInt(formData.get('difficultiesLunatic'))
                            ],
                            hasLua: formData.get('hasLua') === 'on'
                        }
                    };

                    fetch(event.target.action, {
                        method: 'PUT',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(data)
                    }).then(response => {
                        if (response.ok) {
                            window.location.href = '/profile/charts';
                        } else {
                            return response.json().then(err => {
                                if (err.message) {
                                    alert(err.message);
                                }
                                if (err.errors) {
                                    Object.keys(err.errors).forEach(field => {
                                        const errorMessage = err.errors[field];
                                        const errorElement = document.getElementById(`${field}Error`);
                                        if (errorElement) {
                                            errorElement.textContent = errorMessage;
                                        }
                                    });
                                }
                            });
                        }
                    }).catch(error => {
                        console.error('Error:', error);
                        alert('An unexpected error occurred. Please try again.');
                    });
                });
            });
        </script>
        <script src="./main.js"></script>
</body>

</html>